.dashboard-page {
  gap: 34px;
  background-color: #f5f5f7;
  padding: 20px;
}

.dasboard__title {
  color: #1d1d1f;
  font-size: 20px;
  font-weight: 500;
}

.dashboard__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dashboard__header span {
  width: 24px;
}

.receive__title {
  font-weight: 500;
  align-self: start;
}

.payment-system__right {
  display: flex;
  align-items: center;
  gap: 8px;
}

.payment-system {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  border-radius: 12px;
  background: #fff;
  width: 100%;
  gap: 8px;
  align-items: center;
}

.payment-system__left {
  display: flex;
  gap: 16px;
  align-items: center;
}

.payment-system__title {
  color: #1d1d1f;
  font-weight: 500;
}
