.welcome__page {
  display: flex;
  flex-direction: column;
  gap: 100px;
  height: 100vh;
  overflow: hidden;
  position: relative;
  max-width: 500px;
  margin: 0 auto;
}

.welcome__heading {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  height: 100%;
  color: #fff;
  background-image: url("../../../public/img/welcome-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0 0 50px 50px;
  padding: 60px 20px;
}

.welcome__title {
  font-size: 42px;
  font-weight: 600;
  z-index: 1;
}

.welcome__subtitle {
  font-size: 20px;
  z-index: 1;
}

.welcome__actions {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 0 20px 20px;
}

.welcome__img {
  position: absolute;
  width: 100vh;
  top: -10px;
  right: -200px;
  pointer-events: none;
}
